footer {
  position: fixed; /* Fixa o footer na parte inferior da viewport */
  left: 0; /* Alinha o footer à esquerda */
  bottom: 0; /* Alinha o footer na parte inferior */
  width: 100%; /* Define a largura para ocupar toda a largura da viewport */
  background-color: rgba(60,157,0,0.75); /* Mesma cor de fundo do header */
  padding: 20px 0; /* Espaçamento interno */
  text-align: center; /* Alinhar texto no centro */
}

/* Estilo para o logo no footer */
footer img {
  max-width: 100px; /* Tamanho máximo do logo */
}

/* Estilo para o texto de direitos reservados no footer */
footer p {
  margin: 10px 0; /* Espaçamento externo */
  font-size: 14px; /* Tamanho da fonte */
}
