@Component{
    
    display: flex;
    justify-content: center;
}

.UploadVideoComponent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 80vh;
}
