<div class="video-manager">
  <main>
    <aside class="sidebar">
      <button pButton pRipple class="mr-3 p-button-raised import-button" (click)="importVideo()">Importar mídia</button>
      <div class="video-list">
        <div *ngFor="let video of videos; let i = index" class="video-item">
          <video [src]="video.url" (click)="selectVideo(video)" width="100%"></video>
          <span class="video-name">{{ video.name }}</span>
          <button class="remove-button" (click)="removeVideo(i)">
            <img src="assets/images/cancel.png" alt="Cancelar" style="height: 20px; width: 20px;">
          </button>
        </div>
      </div>
    </aside>

    <section class="video-preview">
      <video *ngIf="selectedVideo" [src]="selectedVideo.url" controls width="600"></video>

      <div *ngIf="selectedVideo" class="confirmation-controls">
        <button class="confirm-button" (click)="confirmVideo()">Confirmar vídeo</button>
      </div>
    </section>
  </main>
</div>
